
/** BOOTSTRAP OVERRIDES */
$input-placeholder-color: #ccc;

//This import must be AFTER the Bootstrap overrides in order for overides to work
//Bootstrap documentation: https://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults
@import "../../node_modules/bootstrap/scss/bootstrap";

/** DEQ DEFAULTS NOT PART OF BS */

/** FONT DEFAULTS */
$default-font-size: 1rem;

/** DEQ DEFAULT COLORS */
$deq-primary-color: #0080b7;
$deq-secondary-color: #00afd8;
$deq-tertiary-color: #add362;